body{
    margin: 0;
    background-color: #3D0000;
    
}

.card-shadow{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.content{
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 20rem;
    background-color: #000000;
    text-align: center;
    border-radius: 0.5rem;
}

.container > img{
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    object-fit: cover;
}

.card-body{
    font-family: 'Poppins', sans-serif;
    color: #878582;
    background-color: darkred;
    padding: 1.5rem 2rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.card-body * {
    display: inline-block;
}

.card-body h1{
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #D2C8AE;
    margin: 0;
    padding-top: 1rem;
}

.card-body h2{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.15rem;
    margin: 0;
    margin-top: 1rem;
}

.card-body p {
    width: 17rem;
    font-size: 0.87rem;
    line-height: 1.7;
    text-align:start;
    margin: 0;
    margin-top: 1rem;
}

.play-now-btn{
    width: max-content;
    background-color: #3D0000;
    color:#D2C8AE;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    margin-top: 2rem;
    padding: 0.5rem 2rem;
    border: transparent;
    border-radius: 1rem;
}

.play-now-btn:active{
    background-color: #950101;
}

.play-now-btn a{
    color:#D2C8AE;
    text-decoration: none;
}

footer{
    position: relative;
    top: 8.2rem;
}

.attribution{
    display: inline-block;
    font-size: 1rem;
    color: #878582;
}

.attribution a{
    color: #D2C8AE;
    text-decoration:none;
}

@media (min-width: 42em){

    body{
        background-image: url("./images/hell-gates-background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .content {
        height: 100vh;
    }

    .container{
        width: 42em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content;    
    }

    .container > img{
        content: url("./images/diablo-iv-main-cover.jpg");
        height: 100%;
        border-bottom-right-radius: 0em;
        border-top-left-radius: 0.5em;
    }

    .card-body{
        border-bottom-left-radius: 0em;
        border-top-right-radius: 0.5em;
    }

    .card-body h1{
        font-size: 1.69em;
    }

    .card-body h2 {
        font-size: 1.3em;
    }

    .card-body p {
        width: 19.5em;
        font-size: 1em;
        margin-top: 1.5em;
    }

    .play-now-btn{
        padding: 0.5em 4em;
    }

    footer{
        position: relative;
        top: 10.5em;
    }
}