body{
    margin: 0;
    background-color: #242526cc;
}

.content{
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 20rem;
    text-align: center;
}