body{
    margin: 0;
    background-color: #3D0000;
}

.card-shadow{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.content{
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 20rem;
    background-color: #000000;
    text-align: center;
    border-radius: 0.5rem;
}

.container > img{
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    object-fit: cover;
}

.card-body{
    color: #878582;
    background-color: darkred;
}

.card-body > h1{
    color: #D2C8AE;
}